h1 {
  text-align: center;
  font-size: xx-large;
}
*{
  font-family: Arial;
}
#add{
  background-color: transparent;
  position: relative;
  top: -30px;
}
section, .Category {
  padding: 2.5px;
  margin: 1px;
  background-color: rgb(200,200,200);
}
h2 {
  margin-left: 20px;
}
h3 {
  margin-left: 40px;
}
ul{
  list-style: none;
  padding: 0;
}
.fa-magnifying-glass{
  float: right;
  margin-right: 10px;
  position: relative;
  top:-5;
}
svg{
  float: right;
  margin-right: 7.5px;
  position: relative;
  top: 0px;
}
.fa-magnifying-glass{
  top: 5px;
}